<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de Compras</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h1>Carrito de Compras</h1>
  <div id="cart" class="mt-4">

  {{#each cart}}
  <div>{{this.user_id.email}}</div>
<div class="card mb-3" style="max-width: 400px;">
  <div class="card-body">
    <h5 class="card-title h6">{{this.product_id.title}}</h5>
    <img src="{{this.product_id.photo}}" class="card-img-top img-fluid" alt="...">
    <p class="card-text small">Precio: ${{this.product_id.price}}</p>
    <p class="card-text small">Cantidad: <input type="number" class="form-control form-control-sm quantity-input" value="{{this.quantity}}" min="1"></p>    <button class="btn btn-sm btn-danger remove-btn">Eliminar</button>
  </div>
</div>

  {{/each}}

  </div>
  <button id="checkout-btn" class="btn btn-primary mt-3">Finalizar Compra</button>
  <button id="cancel-btn" class="btn btn-danger mt-3">Cancelar Compra</button>
</div>

<script>
  // Event listener para eliminar un producto
  document.querySelectorAll('.remove-btn').forEach(item => {
    item.addEventListener('click', event => {
      event.target.closest('.card').remove();
    });
  });

  // Event listener para finalizar compra
  document.getElementById('checkout-btn').addEventListener('click', function() {
    document.getElementById('cart').innerHTML = '';
  });

  // Event listener para cancelar compra
  document.getElementById('cancel-btn').addEventListener('click', function() {
    document.getElementById('cart').innerHTML = '';
  });
</script>

</body>
</html>
