
<h1 class="text-center m-2">Productos!</h1>
<main class="d-flex justify-content-around flex-wrap" style="box-shadow: 0 0 10px rgb(158, 190, 245)">
  {{#each products}}
    <div class="card" style="width: 15rem; margin:.5rem;box-shadow: 0 5px 5px rgb(81, 115, 175)">
      <img style="height:10rem" src={{this.photo}} class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">Category: {{this.category}}</p>
        <p class="card-text">Stock: {{this.stock}}</p>
        <p class="card-text">Price: ${{this.price}}</p>
        <a href={{this.id}} class="btn btn-primary">DETAILS</a>
      </div>
    </div>

  {{/each}}
</main>
